.icon-buttons {
    display: flex;
    align-items: center;
    margin-right: 1px;

  }
  
  .icon-button {
    padding: 4px;
    margin-right: 4px;
  }
  
  .icon-buttons button i {
  font-size: 18px; /* Adjust the font size to your desired value */
}
.centered-header {
    text-align: center;
  }
  